*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
.container{
    width: 1240px;
    margin:0 auto;
}
/* =================navber start===================== */
#navber{
    padding:23px 0;
    background-color:rgba(255,255,255,0.20);
    backdrop-filter:blur(2px);
    position: absolute;
    width:100%;
    top: 0;
    left: 0;
    z-index: 999;
}
.nav_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu ul{
    display: flex;
    align-items: center;
    gap: 80px;
}
.menu ul li a{
    font-size:18px ;
    font-family:"Urbanist", sans-serif; 
    font-weight:500;
    color:#606D93 ;
    transition: all linear 0.3s;
}
.menu ul li a:hover{
    color:#192252;
}
.nav_btn button{
    padding: 16px 40px;
    background-color: #6345d5;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size:18px;
    font-family: "Urbanist", sans-serif; 
    font-weight:700 ;
    line-height: normal;
    transition: all linear 0.3s;
    border: 1px solid #6345d5;
}
.nav_btn button:hover{
    background-color: #fff;
    color: #192252;
}
/* =================navber start===================== */

/* =================banner start===================== */
.banner_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 54px;
    padding:215px ;
    padding-bottom: 660px;
}
.shape1, .shape-2, .shape3{
    position: relative;
}
.shape1 img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}
.shape-2 img{
    position: absolute;
    right: 0;
    top: 100px;
}
.shape3 img{
    position: absolute;
    left: 0;
    top:140px;
}
.banner_text{
    position: relative;
    z-index: 999;
}
.banner_text h1{
    width: 503px;
    font-size:80px ;
    font-family:"Urbanist", sans-serif ;
    font-weight:700 ;
    color:#192252 ;
    margin-bottom: 40px;
    line-height: 110%;
}
.banner_text p{
    width: 332px;
    font-size: 18px;
    font-weight: 500;
    font-family:"Urbanist", sans-serif ;
    color: #848FAC;
    margin-bottom: 40px;
    line-height:1.2 ;
}
.button_wrapper{
    display: flex;
    gap:24px;
}
.banner_text .btn_1{
    padding: 20px 40px;
    background-color:#6345d5 ;
    border-radius:8px ;
    font-family:"Urbanist", sans-serif ;
    font-size:18px ;
    font-weight:700 ;
    line-height:24px;
    letter-spacing:0.2px;
    border: none;
    color: #fff;
    transition: all linear 0.3s;
}
.banner_text .btn_2{
    padding: 20px 40px;
    background-color:rgba(255, 255, 255, 1) ;
    border-radius:8px ;
    font-family:"Urbanist", sans-serif ;
    font-size:18px ;
    font-weight:700 ;
    line-height:24px;
    letter-spacing:0.2px;
    border: none;
    color:rgba(25, 34, 82, 1);
     transition: all linear 0.3s;
}
.banner_text .btn_1:hover{
    background-color: #fff;
    color: #6345d5;
}
.banner_text .btn_2:hover{
    background-color: #6345d5;
    color: #fff;
}
.banner_img{
    width: 683px;
    position: relative;
    left: 40px;
    z-index: 999;
}
.banner_bigimg_box{
    position: relative;
}
.banner_bigimg{
    width: 100%;
    height: 882px;
    background-color: #D9D9D9;
    border-radius: 24px;
    position: absolute;
    bottom: -422px;
    z-index: 999;
    overflow: hidden;
}
.banner_bigimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* =================banner end===================== */

/* =================counter start===================== */
#counter{
    background-color: #201353;
    padding-top: 522px;
    padding-bottom:32px;
}
.counter_wrapper{
    padding: 48px;
    background: rgba(255,255,255,0.08);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.counter_item{
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    position: relative;
}
.counter_item::after{
    position: absolute;
    content: "";
    right: -47px;
    top: 50%;
    transform: translateY(-50%);
    height: 32px;
    width: 2px;
    background-color: #BABABA;
}
.counter_item:last-child::after{
    background-color: transparent;
}
.counter_item .counter_number{
    color:#fff ;
    font-size:48px ;
    font-family:"Urbanist", sans-serif ;
    font-weight:700 ;
    line-height: normal;
}
.counter_item .counter_title{
    color:rgba(255,255,255,0.64) ;
    font-family:"Urbanist", sans-serif ;
    font-size:20px ;
    font-weight:500 ;
    line-height: normal;
}
.counter_item:first-child{
    justify-content: start;
}
.counter_item:last-child{
    justify-content: end;
}
/* =================counter end===================== */


/* =================featured start===================== */
#featured{
    padding: 100px 0;
    background-color: #201353;
    position: relative;
}
.featured_heading{
    display: flex;
    justify-content: space-between;
}
.featured_heading h2{
    width: 514px;
    font-family:"Urbanist", sans-serif  ;
    font-weight:700 ;
    font-size: 52px;
    color: #fff;
    line-height: 1.1;
}
.featured_heading p{
    width: 555px;
    font-family:"Urbanist", sans-serif ;
    font-weight:400 ;
    font-size:18px ;
    line-height: normal;
    color: #666;
    margin-top: 18px;
}
.featured_wrapper{
    margin-top: 48px;
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.featured_img{
    position: absolute;
    bottom: -4px;
    right: 10%;
}
.featured_wrapper .transition{
    width: 368px;
    border-radius: 16px;
    background-color: #fff;
    padding: 24px;
}
.transition .transition_heading{
    display: flex;
    align-items: center;
    gap: 12px;
}
.transition .transition_heading h4{
    font-size:18px ;
    font-family:"Urbanist", sans-serif ;
    font-weight: 600;
    line-height: normal;
    color: #0c0507;
}
.transition p{
    margin-top: 16px;
    font-family:"Urbanist", sans-serif ;
    font-weight:400 ;
    font-size:16px ;
    line-height: 150%;
    color: #848FAC;
    margin-bottom: 24px;
}
.transition .progress{
    height:4px ;
    width:324PX ;
    background-color:#EFF3FA;
    border-radius:2px ;
    position: relative;
    overflow: hidden;
}
.transition .progress::after{
    position: absolute;
    content:"";
    left: 0;
    height: 100%;
    width: 50%;
    background-color: #6345d5;
    top: 0;
    border-radius: 2px;
    
}
.featured_wrapper .history{
    padding: 24PX;
    width: 368px;
    height: 188px;
    border-radius: 16px;
    border: 1.5px solid #2C1A74;
}
.featured_wrapper .comunication{
    padding: 24PX;
    width: 368px;
    height: 188px;
    border-radius: 16px;
    border: 1.5px solid #2C1A74;
}
.history .history_heading{
    display: flex;
    align-items: center;
    gap: 12px;
}
.history .history_heading h4{
    color:#fff ;
    font-family:"Urbanist", sans-serif ;
    font-size:18px ;
    font-weight:600 ;
    line-height: 150%;
}
.skilliton_1{
    margin-top: 20px;
    background-color:rgba(255,255,255,0.30) ;
    width:307px ;
    height:16px ;
    border-radius:4px ;
    margin-bottom: 10px;
}
.skilliton_2{
    background-color:rgba(255,255,255,0.29) ;
    width:287px ;
    height:16px ;
    border-radius:4px ;
    margin-bottom: 26px;
}
.skilliton_3{
    background-color:rgba(255,255,255,0.29) ;
    width:320px ;
    height:4px ;
    border-radius:2px ;
}
.comunication .comunication_heading{
    display: flex;
    align-items: center;
    gap: 12px;
}
.comunication .comunication_heading h4{
    color:#fff ;
    font-family:"Urbanist", sans-serif ;
    font-size:18px ;
    font-weight:600 ;
    line-height: 150%;
}
/* ==================featured end================ */

/* =================vedio start===================== */
#vedio{
    height: 100px;
}
/* =================vedio start===================== */

/* =================navber start===================== */
/* =================navber start===================== */

/* =================navber start===================== */
/* =================navber start===================== */